@model PortfolioAnalyzer.Models.Watchlist

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Watchlist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <div>
        <h4>Securities</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WatchlistSecurity ws in @Model.WatchlistSecurities)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => ws.Security.Ticker)</td>
                        <td>@Html.DisplayFor(modelItem => ws.Security.Name)</td>
                        <td>
                            <a asp-action="Details" asp-controller="Securities" asp-route-id="@ws.Security.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
