@model PortfolioAnalyzer.Models.ViewModels.WatchlistDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Watchlist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watchlist.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watchlist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watchlist.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watchlist.Description)
        </dd>
    </dl>

    <h4>Securities</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Latest Price</th>
                <th>% Change</th>
                <th>52 Wk High</th>
                <th>52 Wk Low</th>
                <th>YTD % Change</th>
                <th>P/E Ratio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quote in Model.Quotes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => quote.Symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(model => quote.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => quote.LatestPrice)
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => quote.Change)*@
                        @quote.Change %
                    </td>
                    <td>
                        @Html.DisplayFor(model => quote.Week52High)
                    </td>
                    <td>
                        @Html.DisplayFor(model => quote.Week52Low)
                    </td>
                    <td>
                        @quote.YTDChange %
                    </td>
                    <td>
                        @Html.DisplayFor(model => quote.PERatio)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Watchlist.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
