@model IEnumerable<PortfolioAnalyzer.Models.Watchlist>

@{
    ViewData["Title"] = "Index";
}

<h1>Watchlists</h1>

<p>
    <a asp-action="Create">
        <input type="button" class="btn btn-secondary" value="Create New Watchlist" />
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <input type="button" class="btn btn-sm btn-secondary" value="Edit" />
                </a>
                <a asp-action="Details" asp-route-id="@item.Id">
                    <input type="button" class="btn btn-sm btn-secondary" value="Details" />
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <input type="button" class="btn btn-sm btn-secondary" value="Delete" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
