@model PortfolioAnalyzer.Models.ViewModels.PortfolioEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Portfolio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Portfolio.Id" />
            <div class="form-group">
                <label asp-for="Portfolio.Name" class="control-label"></label>
                <input asp-for="Portfolio.Name" class="form-control" />
                <span asp-validation-for="Portfolio.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portfolio.Description" class="control-label"></label>
                <input asp-for="Portfolio.Description" class="form-control" />
                <span asp-validation-for="Portfolio.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portfolio.Notes" class="control-label"></label>
                <input asp-for="Portfolio.Notes" class="form-control" />
                <span asp-validation-for="Portfolio.Notes" class="text-danger"></span>
            </div>
            <h4>Edit Securities</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Weight</th>
                        <th>Asset Class</th>
                    </tr>
                </thead>
                <tbody class="inputTableBody">
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[0].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[0].Weight" class="form-control weight_0" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[0].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[1].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[1].Weight" class="form-control weight_1" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[1].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[2].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[2].Weight" class="form-control weight_2" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[2].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[3].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[3].Weight" class="form-control weight_3" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[3].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[4].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[4].Weight" class="form-control weight_4" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[4].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[5].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[5].Weight" class="form-control weight_5" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[5].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[6].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[6].Weight" class="form-control weight_6" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[6].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[7].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[7].Weight" class="form-control weight_7" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[7].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[8].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[8].Weight" class="form-control weight_8" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[8].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[9].Security.Ticker" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.PortfolioSecurities[9].Weight" class="form-control weight_9" />
                        </td>
                        <td>
                            <select asp-for="@Model.PortfolioSecurities[9].AssetClassId" class="form-control" asp-items=Model.AssetClassOptions></select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <p class="text-danger">@ViewData["WeightError"]</p>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function weightSum() {
        let weights = [
            document.querySelector(".weight_0"),
            document.querySelector(".weight_1"),
            document.querySelector(".weight_2"),
            document.querySelector(".weight_3"),
            document.querySelector(".weight_4"),
            document.querySelector(".weight_5"),
            document.querySelector(".weight_6"),
            document.querySelector(".weight_7"),
            document.querySelector(".weight_8"),
            document.querySelector(".weight_9")
        ];

        return weights.reduce(function (accumulator, currentValue) {
            return accumulator, currentValue
        }, 0);
    }
</script>


