@model PortfolioAnalyzer.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Portfolio Review</h1>
</div>

@*<form asp-action="AddSecurity" method="get">
        <div class="form-actions no-color">
            <p>
                Can't find what you're looking for? Add a security by ticker:
                <input type="text" name="NewTicker" value="@ViewData["NewTicker"]" />
                <input type="submit" value="AddSecurity" class="btn btn-primary" />
            </p>
            <p>@ViewData["SavedMessage"]</p>
        </div>
    </form>*@

<div>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <h3>Get a Quote:</h3>
            <input type="text" name="ticker" value="@ViewData["Ticker"]" />
            <input type="submit" value="Get Quote" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <h4>@Model.Quote.CompanyName (@Model.Quote.Symbol)</h4>
    <h5>@Model.Quote.LatestPrice</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Previous Close</dt>
        <dd class="col-sm-10">@Model.Quote.PreviousClose</dd>
    </dl>
</div>

@*<div>
    <h4>Security</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>*@
